<!--
 * @FilePath: templates/base.html
 * @Author: Joel
 * @Date: 2025-08-10 09:48:38
 * @LastEditTime: 2025-08-14 19:23:22
 * @Description: 
 -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title if title else "My Personal Website" }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/private.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/private_blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/private_tools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/english.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/research.css') }}">
</head>
<body class="{% if request.path == '/' or request.path == '/private/blog' or request.path == '/private/english' or request.path == '/private/research'%}home-page{% else %}other-page{% endif %}">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">MySite</a>
        <div class="d-flex align-items-center">
            <span id="creation-timer"></span> <!-- 计时器显示位置 -->
            <img src="{{ url_for('static', filename='img/icons/avatar.png') }}" alt="Avatar" class="avatar"/>
            <span class="ms-2">Joel</span>
        </div>
    </div>
</nav>


{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // 设置项目创建时间
    const creationTime = new Date("2025-08-10T00:00:00");

    function updateTimer() {
        const now = new Date();
        let diff = Math.floor((now - creationTime) / 1000); // 秒差

        const days = Math.floor(diff / (24 * 3600));
        diff %= 24 * 3600;
        const hours = Math.floor(diff / 3600);
        diff %= 3600;
        const minutes = Math.floor(diff / 60);
        const seconds = diff % 60;

        document.getElementById("creation-timer").textContent =
            `Created：${days}天 ${hours}小时 ${minutes}分钟 ${seconds}秒`;
    }

    // 每秒刷新一次
    setInterval(updateTimer, 1000);
    updateTimer(); // 页面加载立即显示
</script>
</body>
</html>

